.p-title 
    font-family: 'Shadows Into Light', cursive
    font-weight: 700
    font-style: normal
    font-size: 36px
    line-height: 31px
    display: flex
    align-items: center
    text-align: center
    color: white
    margin-top: 10px


.content-title 
    padding: 10px 0
    background: rgb(24, 118, 209)
    border-radius: 3px


.p-text
    font-family: 'Shadows Into Light', cursive
    font-size: 18px
    line-height: 150%
    color: #5E5E5E

.center-welcome-text
    max-width: 570px
    text-align: center
    
.p-background
    background: #E5E5E5
    height: 100%

.p-background
    .loading
        top:0
        position: absolute
        z-index: 9
        width: 100%

.content-search
    max-width: 650px !important    
    width: 80%

.full-width
    width: 100%

.overflow-hidden
    overflow: hidden

.scroll-list
    max-height: 540px
    overflow-y: auto

.v-data-table__mobile-row__cell
    width: 100% !important


.text-list
  width: 70%
  text-align: left

.border-item-dashed
    padding: 10px
    border: dashed 1px #c1bebe
    border-radius:3px

@import url('http://fonts.googleapis.com/css?family=Lato:400,700')
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap')